
@{
    ViewBag.Title = "WishUser";
}

<h2>WishUser</h2>
<h1>
    this is from WishUser.cshtml
</h1>

<li>@Html.ActionLink("Go to URL ", "GoTOURL", "Home")</li>

<li>@Html.ActionLink("Go to URL Permanently", "GoTOURLPerm", "Home")</li>
