
@*@{
    ViewBag.Title = "Index";
}*@
@{ 
    Layout = null;
}

<h2>Index</h2>





<html>
<head>
    

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>




    <script>
        $(function () {
            debugger;
            $("#DemoGrid").jqGrid
                ({
                    url: "/Demo/GetAthletes",
                    datatype: 'json',
                    mtype: 'Get',

                    colNames: ['AthleteID', 'AthleteName', 'Age',
                        'Country',  'ClosingCeremonyDate', 'Sport', 'GoldMedal',
                        'SilverMedal', 'BronzeMedal', 'TotalMedals'],

                    colModel: [
                        { name: "AthleteID", editable: true, key:true,hidden:true, search: false },
                        { name: "AthleteName", editable: true, editrules: { required: true }, search: true  },
                        { name: "Age", editable: true, editrules: { required: true }, search: false  },
                        { name: "Country", editable: true, editrules: { required: true }, search: true },
                        
                        { name: "ClosingCeremonyDate", editable: true, editrules: { required: true }, search: false  },
                    { name: "Sport", editable: true, editrules: { required: true }, search: false  },
                    { name: "GoldMedal", editable: true, editrules: { required: true }, search: false  },
                    { name: "SilverMedal", editable: true, editrules: { required: true }, search: false  },
                    { name: "BronzeMedal", editable: true, editrules: { required: true }, search: false  },
                    { name: "TotalMedals", editable: true, editrules: { required: true }, search: false }
                    ],

                    height: '100%',
                    
                    viewrecords: true,
                    caption: 'JQgrid DEMO',
                    emptyrecords: 'No records',
                    rowNum: 10,

                    pager: jQuery('#pager'),
                    rowList: [88, 98, 108, 118],

                    jsonReader:
                    {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false,
                        Id: "0"
                    },
                    autowidth: true,
                }).navGrid('#pager',
                    {
                        edit: true,
                        add: true,
                        del: true,
                        search: true,
                        refresh: true,
                        closeAfterSearch: true
                    },

                    {

                        zIndex: 100,
                        url: '/Demo/EditAthlete',
                        closeOnEscape: true,
                        closeAfterEdit: true,
                        recreateForm: true,
                        afterComplete: function (response) {
                            if (response.responseText) {
                                alert(response.responseText);
                            }
                        }
                    },
                    {

                        zIndex: 100,
                        url: "/Demo/CreateAthlete",
                        closeOnEscape: true,
                        closeAfterAdd: true,
                        afterComplete: function (response) {
                            if (response.responseJSON) {
                                if (response.responseJSON == "Saved Successfully") {
                                    alert("Saved Successfully");
                                }
                                else {
                                    var message = "";
                                    for (var i = 0; i < response.responseJSON.length; i++) {
                                        message += response.responseJSON[i];
                                        message += "\n";
                                    }
                                }

                            }
                        }
                    },
                    {

                        zIndex: 100,
                        url: "/Demo/DeleteAthlete",
                        closeOnEscape: true,
                        closeAfterDelete: true,
                        recreateForm: true,
                        msg: "Are you sure you want to delete this Athlete?",
                        afterComplete: function (response) {
                            if (response.responseText) {
                                alert(response.responseText);
                            }
                        }
                    }
                );
        });
    </script>

</head>
<body>
    <table id="Demogrid"></table>
    <div id="pager"></div>
</body>
</html>
